.hero-section {
  display: grid;
  grid-template-columns: auto auto;

  img {
    padding: 10px 160px;
  }
}
.hero-text {
  padding: 4rem 0rem 6rem 7rem;


  p {
    padding: 0px 0px 30px 20px;
    line-height: 37px;
    font-weight: 200;
  }
  h1 {
    padding: 26px 116px 21px 20px;
    font-size: 46px;
    font-weight: 900;
  }
}

.hero-but {
  padding: 10px 29px;
  border: none;
  border-radius: 6px;
  background: $primary-color;
  color: white;
  font-style: bold;
  margin: 0px 22px;
}
.last-but {
  padding: 10px 29px;
  border: none;
  border-radius: 6px;
  background: $primary-color;
  color: white;
  font-style: bold;
  // margin: 0px 22px;
}
.hero-but1 {
  padding: 10px 29px;
  border: none;
  border-radius: 6px;
  background: white;
  color: $primary-color;
  font-style: bold;
  border: solid $primary-color;
  margin: 0px 10px;
}
.effect {
  display: flex;
  justify-content: space-between;
  margin: 30px 21px;

  h3 {
    font-weight: 900;
  }
  h6 {
    font-weight: 400;
  }
}

.create-section {
  // background-color: #F5F5F5;
  h1 {
    text-align: center;
    padding-top: 2rem;
  }
  p {
    text-align: center;
  }
}
.before-after-section {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  padding: 3rem;
}
.before-section {
  background-color: white;
  padding: 20px 80px;
  border-radius: 2rem;
  margin: 0px 50px;
  display: grid;
  grid-template-columns: auto auto;

  div {
    display: grid;
    text-align: center;
    border: solid #cacaca;
    border-radius: 12px;
    padding: 30px 10px;
    margin: 1rem;

    p {
      margin: 6px 13px;
    }
  }
}

.after-section {
  background-color: white;
  padding: 20px 80px;
  border-radius: 2rem;
  margin: 30px -10px;

  div {
    display: flex;

    p {
      margin: 6px 13px;
    }
  }
}

.capsule {
  background-color: #b20909;
  padding: 1rem;
  border-radius: 37px;
  width: 23%;
  text-align: center;
  color: white;
}
.capsule01 {
  background-color: #08a764;
  padding: 1rem;
  border-radius: 37px;
  width: 23%;
  text-align: center;
  color: white;
}
.phone-section {
  display: grid;
  grid-template-columns: auto auto;
  background: #13351f;
  margin: 5rem;
  padding: 34px 43px 0px 60px;
  border-radius: 15px;
  color: white;
}
.p-img-section {
  img {
    margin: 0px 0px -20px 9px;
  }
}
.p-text-section {
  h3 {
    padding: 20px 300px 0px 0px;
    line-height: 50px;
  }

  button {
    padding: 7px 29px;
    border: none;
    border-radius: 6px;
    background: $primary-color;
    color: white;
    margin-top: 2rem;
  }
}

.tab-section {
  grid-template-columns: auto auto;
  display: grid;
  margin: 5rem;
}
.content-section {
  background: #f8fafb;
  padding: 10px 0px;
}
.context-section {
  width: 82%;
  margin: 100px 100px;
  /* background: #41AA67; */
  padding: 2rem;
  border-radius: 20px;
  color: black;

  button {
    padding: 7px 29px;
    border: none;
    border-radius: 6px;
    background: $primary-color;
    color: white;
    margin: 10px 60px;
  }

  h3 {
    font-weight: 800;
    margin-bottom: 50px;
    margin: 10px 60px;
    line-height: 50px;
  }

  p {
    margin: 30px 60px;
    line-height: 40px;
  }
}

.emoji-section {
  background: #071e0f;
  padding: 2rem;
  color: white;
  border-radius: 15px;

  button {
    padding: 7px 29px;
    border: none;
    border-radius: 6px;
    background: $primary-color;
    margin-top: 2rem;

    color: white;
  }

  h1 {
    margin-top: 2rem;
  }
}

.content-section {
  h1 {
    margin-top: 2rem;
    text-align: center;
  }
}
.l-section {
  margin: 100px 0px;
  background: #f8fafb;
  padding: 30px 120px;
}
.last-section {
  display: grid;
  justify-content: center;
  // flex-wrap: wrap;
  grid-template-columns: auto auto auto;
}
.testimonial-section {
  display: grid;
  justify-content: center;
  // flex-wrap: wrap;
  grid-template-columns: auto auto auto;
}
.testimonial-card {
  margin: 1rem;
  /* box-shadow: rgba(213, 213, 213, 0.2588235294) 0px 0px 25px 4px; */
  padding: 3rem;
  /* border-radius: 13px; */
  width: 84%;
}

.testimonial-header {
  text-align: center;
  padding-top: 2rem;
}
.user {
  background: $primary-color;
  display: flex;
  justify-content: space-between;
  padding: 12px 9px;
  margin: -4rem 1rem;
  z-index: 4;
  position: relative;

  button {
    padding: 7px 9px;
    border: none;
    border-radius: 6px;
    background: white;
    color: #adc998;
  }
}

@media screen and (max-width: 600px) {

  .last-section {
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
}

    .context-section h3, .context-section .h3 {
        font-weight: 800;
        margin-bottom: 50px;
        margin: 10px 0px;
        line-height: 50px;
    }
    .context-section p {
        margin: 30px 0px;
        line-height: 40px;
    }

    .context-section button {
        margin: 10px 0px;
    }

    .l-section {
        margin: 100px 0px;
        background: #f8fafb;
        padding: 30px 10px;
    }

    .testimonial-section{
        grid-template-columns: auto;
    }
  .hero-section {
    display: grid;
    grid-template-columns: auto;
  }

  .hero-text {
    padding: 1rem 0rem 5rem 2rem;
  }
  .hero-text h1,
  .hero-text .h1 {
    padding: 20px 0px;
  }

  .hero-text p {
    padding: 0px 0px 0px 0px;
    line-height: 37px;
  }

  .hero-section img {
    padding: 0px 30px;
    width: 85%;
  }

  .before-after-section {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    padding: 3rem 0rem;
  }
  .phone-section {
    display: grid;
    grid-template-columns: auto;
    background: #13351f;
    margin: 33px 0px;
    padding: 27px 0px 0px 27px;
    border-radius: 15px;
    color: white;
    width: 100%;
  }

  .p-text-section button {
    padding: 7px 29px;
    border: none;
    border-radius: 6px;
    // background: #41aa67;
    color: rgb(0, 0, 0);
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .p-text-section h3,
  .p-text-section .h3 {
    padding: 4px 0px 0px 0px;
    line-height: 40px;
  }

  .p-img-section img {
    margin: 0px 0px -20px 9px;
    width: 80%;
  }
  .tab-section {
    grid-template-columns: auto;
    display: grid;
    margin: 0rem;
  }

  .emoji-section {
    background: #071e0f;
    padding: 2rem;
    color: white;
    border-radius: 15px;
  }

  .context-section {
    width: 100%;
    margin: 20px 0px;
    // background: #41aa67;
    padding: 2rem;
    border-radius: 20px;
    color: rgb(0, 0, 0);
  }

  .pood {
    width: 100%;
  }

  .after-section {
    background-color: white;
    padding: 20px 40px;
    border-radius: 2rem;
    margin: 0px 10px;
  }

  .before-section {
    background-color: white;
    padding: 20px 40px;
    border-radius: 2rem;
    margin: 32px 10px;
    grid-template-columns: auto;
  }

  .testimonial-card {
    margin: 1rem;
    box-shadow: rgba(213, 213, 213, 0.2588235294) 0px 0px 25px 4px;
    padding: 2rem;
    border-radius: 13px;
    width: 100%;
  }
}
